
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');



body{
    display: flex;
    flex-direction: column;
        align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    
}

.global-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.left-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
}

.left-side span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.logo{
    width: 300px;
}

.right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 20px;
}

.right-side li{
    list-style: none;
    margin-left: 25px;
    font-family: 'Nunito Sans', sans-serif;
}

li a{
    color: #000000;
    text-decoration: none;
}

li a:hover{
    color: orangered;
    font-family: 'Nunito Sans', sans-serif;
}



.global__main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    padding-top: 50px;
    flex-wrap: wrap;
}

.global__main span{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.list-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 300px;
    height: 400px;
}

.item--row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
}

.title{
    font-size: 25px;
}

.sub-title{
    width: 300px;
    margin-left: 40px;
    color: rgb(161, 160, 160);
}

.view img{
    width: 300px;
    height: 230px;
    margin-left: 50px;
    background-color: silver;
}

.column{
    padding: 20px 0;
    flex-direction: column;
    gap: 5px;
}

